# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.GameServer.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Julia\Documents\CSC 631 Multiplayer Game Development\Rhythm-Versus\GameServer\GameServer\.idea\.idea.GameServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
