# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Rhythm-Versus.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Julia\Documents\CSC 631 Multiplayer Game Development\Rhythm-Versus\.idea\.idea.Rhythm-Versus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
